@CHARSET "UTF-8";

.sectorDiv { 
	position: absolute;            
	left: 300px;            
	top: 240px;            
	z-index: 1000;        
}        
.sectorDiv ul {            
	padding: 0;            
	margin: 0;            
	list-style: none;            
	position: absolute;     
}        
.oneUl{            
	left: -296px;            
	top: -203px;            
	width: 300px;            
	height: 200px;                
	overflow: hidden;            
	z-index: -100;        
}        
.sectorDiv ul li a  {            
	color: #000;            
	text-decoration: none;            
	font: bold 13px/30px arial, sans-serif;            
	text-align: center;            
	-webkit-transform-origin: 0 0;            
	-moz-transform-origin: 0 0;            
	-ms-transform-origin: 0 0;            
	-o-transform-origin: 0 0;            
	transform-origin: 0 0;            
	line-height:100px;        
}
.oneUl li.liOne > a  {            
	position: absolute;            
	display: block;            
	width: 100px;            
	height: 100px;            
	background: #c8c8c8;            
	border-radius: 0 0 100px 0;            
	left: 300px;            
	top: 200px;            
	-webkit-transform: rotate(180deg);            
	-moz-transform: rotateZ(180deg);            
	-ms-transform: rotate(180deg);            
	-o-transform: rotate(180deg);            
	transform: rotate(180deg);        
}                
.sectorDiv ul.ulTwo{            
	z-index: 99;        
}                
.oneUl li.liTwo > a  {            
	position: absolute;            
	display: block;            
	width: 100px;            
	padding-left: 100px;            
	height: 200px;            
	background: #ddd;            
	border-radius: 0 0 200px 0;            
	-webkit-transform: rotate(180deg);            
	-moz-transform: rotateZ(180deg);            
	-ms-transform: rotate(180deg);            
	-o-transform: rotate(180deg);                                   
	transform: rotate(180deg);        
}         
.oneUl ul.ulTwo{            
	position: absolute;            
	left: 300px;            
	top: 200px;        
}        
.oneUl ul {            
	-webkit-transform-origin: 0 0;            
	-moz-transform-origin: 0 0;            
	-ms-transform-origin: 0 0;            
	-o-transform-origin: 0 0;            
	transform-origin: 0 0;            
	-webkit-transform: rotate(90deg);            
	-moz-transform: rotateZ(90deg);            
	-ms-transform: rotate(90deg);            
	-o-transform: rotate(90deg);            
	transform: rotate(90deg);            
	-webkit-transition: 1s;            
	-moz-transition: 1s;            
	-ms-transition: 1s;           
	-o-transition: 1s;            
	transition: 1s;  
}        
.oneUl li.liTwo:nth-of-type(3) > a{            
	background: #bbb;            
	-webkit-transform: rotate(240deg);            
	-moz-transform: rotateZ(240deg);            
	-ms-transform: rotate(240deg);            
	-o-transform: rotate(240deg);            
	transform: rotate(240deg);        
}        
.oneUl li.liTwo:nth-of-type(2) > a {            
	position: absolute;            
	background: #ccc;            
	-webkit-transform: rotate(210deg);            
	-moz-transform: rotateZ(210deg);            
	-ms-transform: rotate(210deg);            
	-o-transform: rotate(210deg);            
	transform: rotate(210deg);        
}        
.menuOpt span {            
	display: block;            
	-webkit-transform: rotate(180deg);            
	-moz-transform: rotateZ(180deg);            
	-ms-transform: rotate(180deg);            
	-o-transform: rotate(180deg);            
	transform: rotate(180deg);        
} 
.ulTwo .liTwo:nth-child(1) span{
	display: block;            
	-webkit-transform: rotate(200deg);            
	-moz-transform: rotateZ(200deg);            
	-ms-transform: rotate(200deg);            
	-o-transform: rotate(200deg);            
	transform: rotate(200deg);     
}
.ulTwo .liTwo:nth-child(2) span{
	display: block;            
	-webkit-transform: rotate(205deg);            
	-moz-transform: rotateZ(205deg);            
	-ms-transform: rotate(205deg);            
	-o-transform: rotate(205deg);            
	transform: rotate(205deg);     
}
.ulTwo .liTwo:nth-child(3) span{
	display: block;            
	-webkit-transform: rotate(210deg);            
	-moz-transform: rotateZ(210deg);            
	-ms-transform: rotate(210deg);            
	-o-transform: rotate(210deg);            
	transform: rotate(210deg);     
}
      
.sectorDiv li.liOne:hover ul.ulTwo{  
	z-index:1000;
	-webkit-transform: rotate(0deg);            
	-moz-transform: rotateZ(0deg);            
	-ms-transform: rotate(0deg);            
	-o-transform: rotate(0deg);            
	transform: rotate(0deg);        
}        
.sectorDiv li.liTwo:hover ul.ulThree{            
	-webkit-transform: rotate(0deg);            
	-moz-transform: rotateZ(0deg);            
	-ms-transform: rotate(0deg);            
	-o-transform: rotate(0deg);            
	transform: rotate(0deg);        
}        
.sectorDiv ul li:hover > a {            
	background: #3d85cc;            
	color: #fff;        
}        
.sectorDiv li.liTwo:hover > a {            
	background: #3d85cc;            
	color: #fff;       
}